.contract-item {
  border: 1px solid #333;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
}
.contract-item:not(:last-child) {
  margin-bottom: 2rem;
}
.contract-col {
  display: flex;
  flex-direction: column;
}
.contract-col:not(:last-child) {
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 1px solid #333;
}
.contract-col-title {
  font-size: 1.4rem;
  line-height: 130%;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
}
.contract-col span {
  text-align: center;
  font-size: 1.3rem;
  margin-top: auto;
  margin-bottom: 0.5rem;
}
