.app {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}
main {
  width: 60%;
  padding: 2rem;
  border-left: 2px solid var(--color-border);
  border-right: 2px solid var(--color-border);
  margin-left: 15%;
}
