.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.5s ease;
}
.modal.animated {
  opacity: 0;
  visibility: hidden;
}
.modal.animated.show {
  opacity: 1;
  visibility: visible;
}
.modal__overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  max-width: 35rem;
  padding: 2rem;
}
.modal__btn-close {
  display: block;
  margin: 4rem auto 0 auto;
}
.modal__text {
  text-align: center;
  font-size: 2rem;
  line-height: 130%;
}
.modal__text span {
  font-weight: 600;
}
